<div class="announcement-bar">
    3-5 BUSINESS DAYS DELIVERY & FREE RETURNS
  </div>

  <header>
    <div class="logo">URBAN EDGE</div>
    <nav class="nav-links">
      <a href="#">Home</a>
      <a href="#categories">Shop</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">Cart</a>
      <a href="#">Wishlist</a>
      {% if user.is_authenticated %}
      <a href="{% url 'userlogout' %}">Logout</a>
      <a href="#">Profile</a>
      {% else %}
      <a href="{% url 'userlogin' %}">Login</a>
      {% endif %}
    </nav>
  </header>