{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/basesty.css' %}">
    <!-- Add other CSS or external libraries here -->
</head>
<body>

    <!-- Include Header -->
    {% include 'includes/header.html' %}

    <!-- Main Content Section -->
    <main>
        {% block content %} <!-- The page-specific content will be inserted here -->
        {% endblock %}
    </main>

    <!-- Include Footer -->
    {% include 'includes/footer.html' %}

</body>
</html>
